* {
	margin: 0%;
	padding: 0%;
}

.column-group-container {
	width: 870px;
	margin-left: 20px;
	padding: 0;
	height: auto;
}

.columns-heading {
	width: 100%;
	height: 150px;
	float: left;
	border-bottom-color: red;
}
