table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

th {
    text-align: center;
}

table {
    border-spacing: 10px;
}

}
tr : hover {
	background-color: black;
	color: skyblue;
}

th {
	background-color:red;
	color:black;
}

td {
	background-color:black;
	color:red;
}	
